/* .reveal p, */
/* .reveal ul, */
/* .reveal h1, */
/* .reveal h2, */
/* .reveal h3 { */
/*     text-align: left; */
/*     width: 100%; */
/* } */
body {
    color: #181a26;
    background-color: white;
}
.reveal .author {
    display: none;
}

.reveal pre {
    background-color: #181a26;
    color: #ccc;
    padding: 5px 2px;
}
.reveal pre.example {
    color: #ff7f24;
}
/* .reveal pre.example::before { */
/*     content: "> "; */
/* } */
